/*  Google Font | Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Global CSS */
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.text-green {
  color: #31bd59;
}
.bg-green {
  background-color: #31bd59;
}
/* ===== Header Section ===== */
.navbar-brand {
  font-weight: 500;
  font-size: 22px;
}
.banner-section {
  padding: 20px 0;
}
.title {
  font-size: 45px;
  font-weight: 600;
}
.banner-img {
  width: 90%;
  margin: auto;
}

/* ===== Main Section ===== */
