/*  Google Font | Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global CSS */
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.text-blue {
  color: #407bff;
}
.bg-green {
  background-color: #407bff;
}

/* ===== Header Section ===== */
.navbar-brand {
  font-weight: 500;
  font-size: 22px;
}
.banner-section {
  padding: 20px 0;
}
.title {
  font-size: 42px;
  font-weight: 600;
}
.banner-img {
  width: 90%;
  margin: auto;
}
#error-msg {
  font-weight: 500;
}

/* ===== Main Section ===== */
.card-title {
  font-size: 20px;
  font-weight: 600;
}
.book-img {
  height: 450px;
}
#show-result {
  font-weight: 600;
}
#loading {
  width: 42%;
}

/*  ===== Media Queries ======== */
@media only screen and (max-width: 767px) {
  .book-img {
    height: auto;
  }
}
